html, body {
    width: 960px;
    margin: 0 auto;
    padding: 0;
  }
  h1 {
    background-color: red;
    color: white;
  }
  ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
     
    }
    li {
      float: left;
    }
    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    li a:hover {
      background-color: red;
    }

    article h2 {
      padding:5px;
      border-left:5px solid red;    
    }
    article img{
      float: left;
      
  
    }
    article p{
      padding:10px;
      
    }
    article {
      padding:20px;
      display:inline-block;
    }
    .club {
     
        width:250px;
        vertical-align:top;
    }
    article a:link{
      background-color: blue;
      color: white;
      padding: 14px 25px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
    }
    
    article a:hover, a:active {
      background-color: red;
    }

    footer{
      background-color: black;
      padding :50px;
    }

    footer p {
      color : white;
    }

    